<div class="entry">
<div class="date">{{date}}<span class="small">c.e</span></div>
<div class="title">{{title}}</div>
<div class="body">
{{{entry_body}}}
</div>
<div class="tags">
{{#tags}}
<span class="tag">#{{tag}}</span>
{{/tags}}
</div>
</div>
