<div class="entry">
<div class="date">{{date}} <span class="small">c.e.</span></div>
<div class="time"><a href="{{permalink}}" target="_self">{{time}}</a></div>
<div class="title">{{title}}</div>
<div class="body">
{{{entry_body}}}
</div>
<div class="tags">
{{#tags}}
<span class="tag">#{{tag}}</span>
{{/tags}}
</div>
{{#permalink}}
<div class="permalink">
  <a href="{{permalink}}" target="_self">permalink</a></div>
{{/permalink}}
</div>
