<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
<div id="content">
<div id="deets">
<div class="list">
<ul>
<!--<li><a href="#">a.bout</a></li>-->
<!--<li><a href="#">p.rojects</a></li>-->
<li><a href="https://www.reading.am/niftynei" target="_blank">r.eading</a></li>
<!--<li><a href="#">s.earch</a></li>-->
<li><a href="https://www.twitter.com/niftynei" target="_blank">t.witter</a></li>
<li><a href="https://www.goodreads.com/user/show/3987541-niftynei" target="_blank">g.oodreads</a></li>
</ul>
</div>
<div class="namecap" >
<a href="#">basic~~~</br>bitch~~~</br>software</a>
</div>

</div>
<div id="entry_block">
{{ #entries }}
{{{ rendered_entry }}}
{{ /entries}}
</div>

<div class="more">
<a href="{{more_link}}" id="more_link">More...</a>
</div>

</div>
</div>
</body>

<script type="text/javascript">
function loadMore(url) {
  var xmlhttp;
  if (window.XMLHttpRequest) {
    xmlhttp = new XMLHttpRequest();
  } else {
    console.log("unsupported browser");
  }

  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == XMLHttpRequest.DONE) {
      if (xmlhttp.status == 200) {
        // successfully fetched
        var response = JSON.parse(xmlhttp.responseText);

        console.log(response);
        if (response.more_link != null && response.more_link != "") {
          var moreLink = document.getElementById("more_link");
          moreLink.style.visibility = "visible";
          moreLink.setAttribute('href', response.more_link);
        }
        // TODO: append result to existing document
        if (response.entries != null) {
          var div = document.createElement('div');
          var concattedString = "";
          for (var i = 0; i < response.entries.length; i++) {
            concattedString += response.entries[i];
          }
          div.innerHTML = concattedString;
          var elements = div.childNodes;

          var entry_div = document.getElementById("entry_block");
          for (var i = 0; i < elements.length; i++) {
            entry_div.appendChild(elements[i]);
          }
        }
      } else {
        console.log("error received: "+ xmlhttp.status + ".  " + xmlhttp.responseText);
      }
    }
  }

  xmlhttp.open("GET", url, true);
  xmlhttp.send();
}

window.onload = function() {
  var moreLink = document.getElementById("more_link");
  moreLink.onclick = function() {
    console.log("button clicked!!");
    // TODO: show a spinner instead of just making the link disappear
    moreLink.style.visibility = "hidden";
    loadMore(moreLink.href); 
    return false; 
  };
}
</script>

</html>
